fastapi
uvicorn
pinecone-client
pypdf
python-dotenv
pydantic
pydantic-settings
google-generativeai
google-genai
python-multipart
ruff
bandit
pytest
pytest-asyncio
httpx
pytest-mock
langchain-text-splitters
