@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-slate-950: #020617;
  --color-slate-100: #f1f5f9;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100;
  }
}
